@model IEnumerable<gestion_budget.Models.Transaction>

@{
    Layout = "_Layout";
    var totalAmount = ViewBag.TotalAmount ?? 0;
    var budgetAmount = ViewBag.BudgetAmount ?? 0;
    var percentage = budgetAmount != 0 ? (totalAmount / budgetAmount) * 100 : 0;
}

<div class="container mt-4">
    <h2 class="mb-4">Détails du Budget</h2>

    <div class="mb-3">
        <h4>Montant du Budget : @budgetAmount.ToString("N0") Ar</h4>
        <h4>
            État du Budget :
            @if (percentage <= 80)
            {
                <span class="text-success">@percentage.ToString("N0")% (sous contrôle)</span>
            }
            else if (percentage > 80 && percentage <= 100)
            {
                <span class="text-warning">@percentage.ToString("N0")% (proche de la limite)</span>
            }
            else
            {
                <span class="text-danger">@percentage.ToString("N0")% (dépassement)</span>
            }
        </h4>
        <h6>Total Montant des Transactions : @totalAmount.ToString("N0") Ar</h6>
    </div>

    @if (Model != null && Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Catégorie</th>
                        <th>Montant</th>
                        <th>Date de Transaction</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model)
                    {
                        <tr>
                            <td>@transaction.TransactionId</td>
                            <td>@transaction.Category.Name</td>
                            <td>@transaction.Amount.ToString("N0") Ar</td>
                            <td>@transaction.TransactionDate.ToString("dd-MM-yyyy HH:mm")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>Aucune transaction trouvée pour la période sélectionnée.</p>
    }

    <div class="mt-3">
        <button class="btn btn-secondary" onclick="history.back()">Retour</button>
    </div>
</div>
